body {
    background-color: #f0f2f4;
    font-family: Verdana, Geneva, sans-serif;
    margin:0;
}

#heading {
    border-bottom: solid 15px skyblue;
}

#results_heading {
    display: none;
    border-top: solid 15px skyblue;
}

.heading {
    padding: 5px;
    background-color: midnightblue;
    color: cornsilk;
    font-family:"Fugaz One", Verdana, Geneva, sans-serif;
    font-size: 1.5em;
}

.heading h1 {
    font-size: 1.5em;
}

.heading h2 {
    font-size: 1.25em;
}

#intro {
    background: lightslategray;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 1.1em;
    border-bottom: solid 10px midnightblue;
}

#controls {
    background: lightslategray;
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 1.1em;
    border-top: solid midnightblue 10px;
    margin-top: -3px;
}

svg {
    border: solid 10px midnightblue;
    border-radius: 20px;
    margin: -10px 0 -10px 0;
    background: cornsilk;
}

svg text {
    font-size: 11px;
}

button {
    font-size: 1.5em;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    margin: 0 10px;
    background: lightskyblue;
    cursor: pointer;
    border: solid ivory 2px;
    padding: 15px 30px;
    border-radius: 20px;
    color: ivory;
    text-shadow: midnightblue 3px 3px;
    box-shadow: darkslategrey 5px 5px;
}

button:hover {
    background: #85c7f0;
    cursor: pointer;
    border: solid ivory 2px;
    padding: 15px 30px;
    border-radius: 20px;
    color: ivory;
    text-shadow: midnightblue 2px 2px;
    box-shadow: darkslategrey 3px 3px;
}

button[disabled] {
    background: lightgray;
    color: gray;
    text-shadow: none;
    box-shadow: none;
    border: solid darkgray 2px;
    cursor: default;
}

/* Links */

path.link {
    fill: none;
    stroke: skyblue;
    stroke-width: 1px;
}

path.link.highlight {
    stroke-width: 3px;
    stroke: coral;
}

path.link.selected {
    stroke: midnightblue;
    stroke-width: 3px;
}

/* Inner Nodes */

.inner_node > rect {
    fill: skyblue;
}

.inner_node > rect.highlight {
    fill: skyblue;
    stroke: coral;
    stroke-width: 2px;
}

.inner_node > rect.selected {
    fill: midnightblue;
}

.inner_node > text {
    fill: black;
}

.inner_node > text.highlight  {
    fill: black;
    font-weight: bold;
}

.inner_node > text.selected {
    fill: white;
    font-weight: bold;
}

/* Outer Nodes */

.outer_node > circle {
    fill: skyblue;
}

.outer_node > circle.highlight  {
    fill: coral;
}

.outer_node > circle.selected {
    fill: midnightblue;
}

.outer_node > text {
    fill: black;
}

.outer_node > text.highlight  {
    fill: coral;
    font-weight: bold;
}

.outer_node > text.selected {
    fill: black;
    font-weight: bold;
}