<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Where Should I Eat?</title>
<!--    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Fugaz One' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='main_vis.js') }}"></script>
</head>
<body>
<div align="center">
    <div id="heading">
<!--        <img id="logo" src="{{ url_for('static', filename='logo.png') }}" />--><h1>Where Should I Eat?</h1>
    </div>
    <div id="container">
        <div id="intro">
            <p>Not sure what you're in the mood to eat? Want to try something new? Just plain indecisive?</p>
            <p>Look no further! Use the map below to see how different kinds of food are related.</p>
            <p>Click on a cuisine type box to select it, and click again to unselect.</p>
            <p>When you're done, hit the Search button below to look for restaurants that fit your criteria. Bon Apetit!</p>
        </div>
        <div id="main_vis">
            <svg id="main_vis_svg"></svg>
        </div>
        <div id="controls">
            <button id="clear_selection">Clear</button>
            <button id="search_cuisine">Search</button>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>