<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Where Should I Eat?</title>
<!--    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Fugaz One' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='main_vis.js') }}"></script>
</head>
<body>
<div align="center">
    <div id="heading" class="heading">
        <h1>Where Should I Eat?</h1>
    </div>
    <div id="container">
        <div id="intro">
            <p>Not sure what you'd like to eat? Want to try something new? Just plain indecisive? Look no further! Use the map below to see decide what you're in the mood for.</p>
            <p>Mouse over a dish on the left or right to see which types of restaurants would have that item.</p>
            <p>Mouse over a restaurant type in the center to see what foods it consists of. Click on a box to select it, and click again to unselect.</p>
            <p>When you're done, hit the Search button below to search Yelp for restaurants that fit your criteria, and view the results below. Bon Apetit!</p>
        </div>
        <div id="main_vis">
            <svg id="main_vis_svg"></svg>
        </div>
        <div id="controls">
            <p id="coords_message">If you want to use your geolocation, please give permission.</p>
            <label for="location_box">Location: </label><input id="location_box" name="location_box" value="New York, NY" />
            <br />
            <br />
            <button id="clear_selection">Clear</button>
            <button id="search_cuisine" disabled="disabled">Search</button>
        </div>
        <div id="results">
            <div id="results_heading" class="heading">
                <h2>Results</h2>
            </div>
            <div id="search_results"></div>
        </div>

    </div>
</div>
</body>
</html>